<div class="container">
  <h2 id="sign-up-title" class="text-center">Sign Up for Our Newsletter</h2>
    <form id="signupForm" name="signupForm" class="row">
      <label class="col-xs-12 col-sm-4 col-md-3 col-sm-offset-2 col-md-offset-3">First Name</label>
      <input class="col-xs-12 col-sm-4 col-md-3"
        type="text" 
        name="firstName" 
        ng-model="signupCtrl.user.firstName" 
        required
      />
      <span class="error col-xs-12 col-sm-offset-2 col-md-offset-3" ng-if="signupForm.firstName.$touched && signupForm.firstName.$error.required">First name is required</span>
      <br>
      <label class="col-xs-12 col-sm-4 col-md-3 col-sm-offset-2 col-md-offset-3">Last Name</label>
      <input class="col-xs-12 col-sm-4 col-md-3"
        type="text" 
        name="lastName" 
        ng-model="signupCtrl.user.lastName" 
        required
      />
      <span class="error col-xs-12 col-sm-offset-2 col-md-offset-3" ng-if="signupForm.lastName.$touched && signupForm.lastName.$error.required">Last name is required</span>
      <br>
      <label class="col-xs-12 col-sm-4 col-md-3 col-sm-offset-2 col-md-offset-3">Email Address</label>
      <input class="col-xs-12 col-sm-4 col-md-3"
        type="email" 
        name="emailAddress" 
        ng-model="signupCtrl.user.emailAddress" 
        required
      />
      <span class="error col-xs-12 col-sm-offset-2 col-md-offset-3" ng-if="signupForm.emailAddress.$touched && signupForm.emailAddress.$error.required">
        Email is required</span>
      <span class="error col-xs-12 col-sm-offset-2 col-md-offset-3" ng-if="signupForm.emailAddress.$touched && signupForm.emailAddress.$error.email">
        Email address format incorrect</span>
      <br>
      <label class="col-xs-12 col-sm-4 col-md-3 col-sm-offset-2 col-md-offset-3">Phone Number</label>
      <input class="col-xs-12 col-sm-4 col-md-3"
        type="phone" 
        name="phoneNumber" 
        ng-model="signupCtrl.user.phoneNumber" 
        pattern="(\d{3})-(\d{3})-(\d{4})"
        required
      />
      <span class="error col-xs-12 col-sm-offset-2 col-md-offset-3" 
        ng-if="signupForm.phoneNumber.$touched && signupForm.phoneNumber.$invalid">
        Phone must be in the format ###-###-####.
      </span>
      <br>
      <label class="col-xs-12 col-sm-4 col-md-3 col-sm-offset-2 col-md-offset-3">Favorite Dish</label>
      <input class="col-xs-12 col-sm-4 col-md-3" 
        type="text" 
        name="favoriteDish" 
        ng-model="signupCtrl.user.favoriteDish" 
        required
      />
      <span ng-if="signupCtrl.favoriteExists === false" class="error col-sm-offset-2 col-md-offset-3"> 
        No Such number exists.
      </span>
      <br>
      <div class="col-xs-9 col-sm-offset-2 col-md-offset-3">
        <button type="submit" id=signup ng-click="signupCtrl.submitSignup()">Sign Up</button>
        <span ng-if="signupCtrl.user.saved">Your information has been saved.</span>
      </div>
    </form>
</div>
